rofi.padding: 350
rofi.opacity: 80
rofi.color-enabled: true
rofi.color-window: #282828, #282828, #EBDBB2
rofi.color-normal: #282828, #EBDBB2, #282828, #EBDBB2, #282828
rofi.color-active: #282828, #458588, #282828, #458588, #282828
rofi.color-urgent: #282828, #FB4934, #282828, #FB4934, #282828

URxvt.saveLines: 2000
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: False
URxvt.internalBorder: 4

URxvt.font: xft:Consolas-12:antialias=true:autohinting=true
URxvt.boldFont: xft:Consolas-9:bold:antialias=true:autohinting=true
URxvt.letterSpace: -1

URxvt.depth: 32
URxvt.background: [98]#282828
URxvt.foreground: #EBDBB2
URxvt.color0:     #282828
URxvt.color1:     #CC241D
URxvt.color2:     #98971A
URxvt.color3:     #D79921
URxvt.color4:     #458588
URxvt.color5:     #B16286
URxvt.color6:     #689D6A
URxvt.color7:     #A89984
URxvt.color8:     #928374
URxvt.color9:     #FB4934
URxvt.color10:    #B8BB26
URxvt.color11:    #FABD2F
URxvt.color12:    #83A598
URxvt.color13:    #D3869B
URxvt.color14:    #8EC07C
URxvt.color15:    #EBDBB2

Rxvt.fading:     20

URxvt.scrollBar:         false
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
